<section class="container">
    <h3 class="title">HOW TO JOIN US</h3>
    <div class="wrapper">
        <div class="column">
            <h4>Looking for collaboration?</h4>
            <p>Become a part of our story!</p>
            <a href="#">
                <span>Fill out an application 👆📝</span>
            </a>
            <p class="italic">Business clients only</p>
        </div>
        <div class="column">
            <h4>Looking for a job?</h4>
            <p>Our team is a family. Come and join us!</p>
            <a href="#">
                <span>Fill out an application 👆📝</span>
            </a>
        </div>
    </div>
</section>
