<div class="header__wrapper">
    <div class="header__logo" [routerLink]="['/']">
        <img src="../../../assets//images/logo.png" alt="logo" />
        <h3>Delivery House</h3>
    </div>

    <nav class="header__menu-wrapper">
        <ul class="menu">
            <li>
                <a [routerLink]="['/']">Home</a>
            </li>
            <li>
                <a [routerLink]="['/fullmenu']">Full Menu</a>
            </li>
            <li>
                <a [routerLink]="['/categories', 'pizza']">Categories</a>
            </li>
            <li>Log out</li>
        </ul>
    </nav>
</div>
