<!-- with library -->
<ng-container *ngIf="images as images">
    <div
        *appCarousel="let image of images; let next = next; let back = back"
        class="roundCarousel__wrapper"
        [@enter]="direction"
    >
        <div style="--bg: url({{ image.background }})" class="roundCarousel__bg"></div>
        <div class="roundCarousel__product" [ngClass]="category">
            <img alt="Product photo" class="image" [@firstEnter] [src]="image.url" />
        </div>

        <p class="roundCarousel__description">{{ image.desc }}</p>

        <button #prev class="button left" (click)="leftFunc(); back()">
            <svg class="svg">
                <use href="../../../../assets/svg-sprites/svg-arrows-sprite.svg#left"></use>
            </svg>
        </button>
        <button #next class="button right" (click)="rightFunc(); next()">
            <svg class="svg">
                <use href="../../../../assets/svg-sprites/svg-arrows-sprite.svg#right"></use>
            </svg>
        </button>
    </div>
</ng-container>
