<div class="footer__wrapper">
    <div class="footer__contact">
        <div class="footer__logo">
            <img src="../../../assets//images/logo.png" alt="logo" />
            <h3>Delivery House</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, tenetur.</p>
        </div>
        <div class="footer__socials">
            <a href="#">
                <svg>
                    <use href="../../../assets/svg-sprites/svg-socials-sprite.svg#facebook"></use>
                </svg>
            </a>
            <a href="#">
                <svg>
                    <use href="../../../assets/svg-sprites/svg-socials-sprite.svg#instagram"></use>
                </svg>
            </a>
            <a href="#">
                <svg>
                    <use href="../../../assets/svg-sprites/svg-socials-sprite.svg#twitter"></use>
                </svg>
            </a>
        </div>
    </div>

    <nav class="footer__accordeon-wrapper">
        <div>
            <h4 class="footer__accordeon-title">Links</h4>
            <div class="footer__accordeon-content">
                <a href="#">Home</a>
                <a href="#">Full Menu</a>
                <a href="#">Categories</a>
                <a href="#">Gallery</a>
                <a href="#">Contact</a>
            </div>
        </div>
        <div>
            <h4 class="footer__accordeon-title">Company</h4>
            <div class="footer__accordeon-content">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & conditions</a>
                <a href="#">Cookie Policy</a>
            </div>
        </div>
        <div>
            <h4 class="footer__accordeon-title">Contact Us</h4>
            <div class="footer__accordeon-content">
                <a href="#">https://github.com/LaNadia</a>
                <a href="#">https://github.com/LaNadia</a>
                <a href="#">https://github.com/LaNadia</a>
            </div>
        </div>
    </nav>
</div>
