.reviews {
    h3 {
        font-family: Playfair Display;
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        padding: 3rem;
    }
}
.reviews__wrapper {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
    align-items: center;
}
