<section>
    <div class="container">
        <div
            class="side-menu__item"
            [ngClass]="category == 'pizza' ? 'active' : ''"
            (click)="changeCategory('pizza')"
        >
            <svg>
                <use href="../../../assets/svg-sprites/svg-side-menu-sprite.svg#pizza"></use>
            </svg>
        </div>
        <a
            class="side-menu__item"
            [ngClass]="category == 'sushi' ? 'active' : ''"
            (click)="changeCategory('sushi')"
        >
            <svg>
                <use href="../../../assets/svg-sprites/svg-side-menu-sprite.svg#sushi"></use>
            </svg>
        </a>
        <div
            class="side-menu__item"
            [ngClass]="category == 'burgers' ? 'active' : ''"
            (click)="changeCategory('burgers')"
        >
            <svg>
                <use href="../../../assets/svg-sprites/svg-side-menu-sprite.svg#burger"></use>
            </svg>
        </div>
        <div
            class="side-menu__item"
            [ngClass]="category == 'wok' ? 'active' : ''"
            (click)="changeCategory('wok')"
        >
            <svg>
                <use href="../../../assets/svg-sprites/svg-side-menu-sprite.svg#noodles"></use>
            </svg>
        </div>
        <div
            class="side-menu__item"
            [ngClass]="category == 'barbeque' ? 'active' : ''"
            (click)="changeCategory('barbeque')"
        >
            <svg>
                <use href="../../../assets/svg-sprites/svg-side-menu-sprite.svg#barbecue"></use>
            </svg>
        </div>
    </div>
</section>
