<section>
    <div class="container">
        <div class="side-menu__item">
            <svg>
                <use href="../../../assets/svg-sprites/svg-side-menu-sprite.svg#pizza"></use>
            </svg>
        </div>
        <div class="side-menu__item">
            <svg>
                <use href="../../../assets/svg-sprites/svg-side-menu-sprite.svg#sushi"></use>
            </svg>
        </div>
        <div class="side-menu__item">
            <svg>
                <use href="../../../assets/svg-sprites/svg-side-menu-sprite.svg#burger"></use>
            </svg>
        </div>
        <div class="side-menu__item">
            <svg>
                <use href="../../../assets/svg-sprites/svg-side-menu-sprite.svg#noodles"></use>
            </svg>
        </div>
        <div class="side-menu__item">
            <svg>
                <use href="../../../assets/svg-sprites/svg-side-menu-sprite.svg#barbecue"></use>
            </svg>
        </div>
    </div>
</section>
