<section>
    <div *ngIf="categoriesData" class="container">
        <div
            *ngFor="let cat of categoriesData"
            class="side-menu__item"
            [ngClass]="category == cat.category ? 'active' : ''"
            (click)="changeCategory(cat.category)"
        >
            <svg>
                <use
                    [attr.href]="
                        ['./../../assets/svg-sprites/svg-side-menu-sprite.svg#'] + cat.category
                    "
                ></use>
            </svg>
        </div>
    </div>
</section>
