<div class="autoslider__wrapper">
    <ul class="autoslider">
        <li class="autoslider-item">
            <img
                src="../../../../assets/images/temporary-for-auto-slider/hamburger.jpg"
                alt="food"
            />
        </li>
        <li class="autoslider-item">
            <img src="../../../../assets/images/temporary-for-auto-slider/chicken.jpg" alt="food" />
        </li>
        <li class="autoslider-item">
            <img src="../../../../assets/images/temporary-for-auto-slider/pizza.jpg" alt="food" />
        </li>
    </ul>
</div>
